@font-face {
    font-family: 'League Spartan';
    src: url('./fonts/League_Spartan/LeagueSpartan-Bold.ttf');
}

.titulo {
    margin-top: 10px;
    font-family: 'League Spartan', sans-serif;
}

.titulo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease, color 0.3s ease;
    color: gray;
}

header {
    padding-bottom: 20px;
}

#carrito {
    position: sticky;
    top: 0;
}

#barra-menu {
    position: sticky;
    top: 0px;
    z-index: 1000;
}
